.formulario {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 20px;
  width: 450px;
}

.formulario p {
  text-align: left;
}

.formulario h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.parrafoForm {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 1rem;
}

.formulario button {
  margin: auto;
  width: 100px;
  padding: 0.5rem;
  background-color: forestgreen;
  border-radius: 5px;
  border: none;
}