nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 1000;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: #222;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

.total {
  margin-left: auto;
  background-color: #198754;
}

.nombrePizzeria{
  margin: auto 1.5rem auto 0;
  padding: 0;
  color: #ffffff;
  font-size: 20px;
}
