.header {
  width: 100%;
  background-image: url("../../assets/Header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
