:root {
  --navbar-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
}

.container {
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  padding-top: var(--navbar-height);
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
