.wrapper {
    width: 100%;
    flex:1;
    background-image: url("../../assets/404.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.container {
    width: 45%;
    max-width: 520px;
    margin-left: 6rem;
    color: #000;
    text-align: left;
}

.container h2 {
    font-size: 4.2rem;
    letter-spacing: 2px;
    margin-bottom: 0.2rem;
}

.container h1 {
    font-size: 6rem;
    margin: 0;
    line-height: 0.5;
    margin-bottom: 3rem;
}

.container p {
    max-width: 360px;
    margin: 0.5rem 0 1.5rem;
    font-size: 1rem;
}

.backBtn {
    display: inline-block;
    padding: 0.5rem 1.4rem;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.95rem;
}

.backBtn:hover {
    background-color: #333;
}